[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SiMRiv"]
	path = SiMRiv
	url = https://github.com/miguel-porto/simriv
[submodule "eicm"]
	path = eicm
	url = https://github.com/miguel-porto/eicm
