[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SiMRiv"]
	path = SiMRiv
	url = https://github.com/miguel-porto/simriv
	shallow = true
	registered = true
[submodule "eicm"]
	path = eicm
	url = https://github.com/miguel-porto/eicm
	shallow = true
	registered = true
